@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #0fc7b8;
  --primary-dark: #20847c;
  --primary-faded: #cffff5;

  --secondary: #10a8e5;
  --tertiary: #429da8;

  --hover: #dbeafe;

  --background: #f9fafb;
  --card-background: #ffffff;
  --background-gradient: linear-gradient(to top, #eaf4ff, #cffff5);
  --foreground: #313131;

  --error: #f16a5d;

  --gray-light: #e5e7eb;
  --gray-dark: #636363;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

html {
  color-scheme: light !important;
}

body {
  font-family: var(--font-nunito), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-faded: var(--primary-faded);

  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-hover: var(--hover);

  --color-background: var(--background);
  --color-card-background: var(--card-background);

  --color-foreground: var(--foreground);

  --color-error: var(--error);

  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 13px; /* Scrollbar width */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray-light); /* Track background color */
  border-radius: 8px; /* Make thumb more rounded */
}

::-webkit-scrollbar-thumb {
  background: var(--gray-dark); /* Thumb color */
  border-radius: 8px; /* Make thumb more rounded */
  border: 2px solid transparent; /* Add spacing */
  transition: background-color 0.8s ease; /* transisi warna */
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: var(--foreground); /* Thumb color */
}

.ProseMirror img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-empty:first-child::before {
  color: #aaa;
  content: attr(data-placeholder);
}